.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 200px;
}

/* .App-link {
  color: red;
  text-decoration-line: none;
  font-family: Roboto-Thin;
  padding-top: 190px;
} */
