body {
  margin: 0;
  font-family: Roboto-Thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto-Thin,
}
@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url('./fonts/Roboto-Thin.ttf') format('truetype');
}