.Login {
  text-align: center;
}

.Login-logo {
  height: 23vmin;
}

.Login-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.Input-form {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 25px;
  border:1px solid #cccccc;
  font-family: Roboto-Thin;
  padding-left: 16px;
}
.Input-error {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 25px;
  border:1px solid red;
  font-family: Roboto-Thin;
  padding-left: 16px;
}

.Input-form:focus {
  box-shadow: 0 0 3pt 2pt #aaaaff;
}

.tooltip-arrow {
  display: true !important;
}

.Button {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 30px;
  color: #f15a24;
  font-family: Roboto-Thin;
}

.Not-signed {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 0px;
  color: #4d4d4d;
}

.App-link {
  color: #f15a24;
  font-family: Roboto-Thin;
  font-size: 30px;
  padding-top: 0px;
}